.container {
  width: 100%;
  height: 100%;
}

.container-wrapper {
  display: flex;
}

.image-container {
  position: relative;
  width: 40%;
  height: 90vh;
  background-color: #ffede1;
}

.form-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 70rem;
  height: 70rem;
  border-radius: 1rem;
  padding: 4rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.login-page-illustrator {
  position: absolute;
  left: 18rem;
  bottom: 0;
  height: auto;
}

.header {
  margin-bottom: 4rem;
}

.login-wrapper {
  display: grid;
  justify-content: center;
}

.login-wrapper-header {
  display: grid;
  justify-content: center;
}

.login-wrapper-header h1 {
  margin: 2rem 0 0 0 !important;
}

.wrapper-content-form {
  margin-top: 6rem;
}

.user-box {
  position: relative;
  width: 100%;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}

.user-detail {
  display: flex;
  gap: 10rem;
}

.user-box label {
  position: absolute;
  left: 0;
  top: -20px;
  font-size: 1.4rem;
}

.show {
  display: block;
}

.login-button input {
  width: 100%;
  height: 4rem;
  border-radius: 0.5rem;
  box-shadow: #219ebc 0px 1px 2px 0px,
    #219ebc(204, 204, 204, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
  background-color: #219ebc;
  color: white;
  border-color: #219ebc;
}

.create-account {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.create-account a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #333;
  margin-left: 0.8rem;
}

.sign-up-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 65rem;
  height: 80rem;
  border-radius: 1rem;
  padding: 4rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.user-box-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-box:nth-last-child(n-1) {
  margin-bottom: 2rem;
}

.sign-up-button {
  margin-top: 2rem;
}

.sign-up {
  width: 30%;
  height: 4rem;
  border-radius: 0.5rem;
  box-shadow: #219ebc 0px 1px 2px 0px,
    #219ebc(204, 204, 204, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
  background-color: #219ebc;
  color: white;
  border-color: #219ebc;
}

.sign-up-header h4 {
  margin-top: -1rem;
}

.user-box #contact {
  width: 26rem;
}

#firstname-error {
  font-size: 1.1rem;
  margin-top: 2.6rem;
  color: red;
}

#lastname-error {
  font-size: 1.1rem;
  margin-top: 2.6rem;
  color: red;
}

#password-error {
  font-size: 1.1rem;
  margin-top: 2.6rem;
  color: red;
}

#contact-error {
  font-size: 1.1rem;
  margin-top: 2.6rem;
  color: red;
}

#address-error {
  font-size: 1.1rem;
  margin-top: 2.6rem;
  color: red;
}

#email-error {
  font-size: 1.1rem;
  margin-top: 2.6rem;
  color: red;
}

.error-hidden {
  display: none !important;
}