/* Group Members:
Ajay Shrestha
Gaurab Pokhrel
Nirajan Karki
Sakar Thapa */

/* Give main container a width of 70% and center it */
/* Divide main container into two column using GRID */
.main-container {
  width: 70%;
  margin: 10rem auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
}

/* For the main image */
.main-img {
  width: 100%;
  padding: 1rem 6rem;
  border: 1px solid #eee;
}

/* For the thumbnail images */
.secondary-img-div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.sec-img {
  width: 15rem;
  height: 15rem;
  object-fit: contain;
  padding: 1rem;
  border: 1px solid #eee;
}

.product-title {
  line-height: 1.3;
}

.product-desc {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.product-price {
  margin-top: 3rem;
  margin-bottom: 5px;
}

.suggested-text {
  margin-bottom: 3rem;
}

.available-qty {
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ef233c;
}

.btn-container {
  margin: 2rem 0;

  display: flex;
  gap: 2rem;
}

.more-details-container {
  margin-top: 4rem;
}

.details-box {
  display: flex;
  align-items: center;
  gap: 2rem;

  padding: 1.5rem;
  border: 1px solid #eee;
}

.details-icon {
  font-size: 2.4rem;
}

.details-text p {
  font-size: 1.2rem;
}

/* :disabled {
  cursor: not-allowed;
  background: #eee !important;
  opacity: 1;
} */

/* SMALLER DESKTOPS OR TABLET IN LANDSCAPE */
@media only screen and (max-width: 1000px) {
  .main-container {
    grid-template-columns: 1fr;
  }
}

/* MOBILE PHONES */
@media only screen and (max-width: 480px) {
  /* Display all the contents on a simgle column */
  .btn-container {
    flex-direction: column;
    max-width: 20rem;
  }
  .white-btn {
    width: 100%;
  }
}
