.container {
  height: 100%;
  margin: 0;
}

.banner-image {
  background-image: url("../media/banner.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
}

.banner-image h1 {
  font-size: 3.9rem;
  position: absolute;
  top: 27%;
  left: 21%;
  transform: translate(-50%, -50%);
  color: white;
  margin: 2rem 0;
  color: #474444;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.search {
  background-color: whitesmoke;
  width: 30%;
}

.category-content {
  background-color: whitesmoke;
  padding: 3rem;
}

.sign-up {
  font-size: 1.6rem !important;
}

.main-container {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 7px 0px,
    rgba(60, 64, 67, 0.15) 1px 2px 6px 2px;
  padding: 0rem 2rem;
  /* height: 30rem; */
  margin: 4rem 0;
  overflow: hidden;
}

.product-img {
  object-fit: contain;
}

.product-image-container {
  height: 24rem;
  object-fit: contain;
}

.product-image-container img {
  padding: 2rem;
  width: 25rem;
  height: 100%;
}

.product-title a {
  text-decoration: none;
  color: black;
}

.product-body {
  padding: 2rem;
  width: 100%;
}

.product-body ul {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  color: black;
  margin-top: -2rem;
  margin-bottom: 1.5rem;
}

.product-body ul li {
  font-size: 12pt;
  font-weight: normal;
  columns: grey;
}

.product-body p {
  font-size: 1.6rem;
  /* width: 100%; */
  /* text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden;
  max-width: 20rem; */
}

.product-price {
  padding-right: 3rem;
  display: grid;
  align-content: center;
  /* width: 100%; */
}

.product-price h1 {
  font-size: 4rem;
}

.price-offer {
  display: grid;
  align-items: center;
  justify-items: center;
  margin-bottom: 3rem;
}

/* .ui-tabs {
  max-width: 70%;
} */

.price-offer del {
  margin-bottom: -2rem;
}

/* .cart-btn {
  width: 23rem;
  height: 5rem;
  border-radius: 0.5rem;
  border-color: wheat;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} */
.cart-btn p {
  font-size: 12pt;
}

#headphone-list {
  list-style: none;
  text-decoration: none;
}

#speaker-list {
  list-style: none;
  text-decoration: none;
}

#earphone-list {
  list-style: none;
  text-decoration: none;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.category-title h2 {
  margin: 0;
}

.category-search {
  display: flex;
  justify-content: flex-end;
}

.user-box {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 5px;
  margin-bottom: 0px !important;
  width: 40rem;
}

.user-box input {
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}

.user-box label {
  font-size: 2.2rem;
}

.search-label {
  display: inline-flex;
  align-items: center;
  font-size: 2.2rem !important;
}

.search-label ion-icon {
  margin-right: 1.2rem;
}

.out-of-stock {
  color: red;
}

@media only screen and (max-width: 1000px) {
  .banner-image h1 {
    left: 40rem;
  }
  .main-container {
    grid-template-columns: 1fr;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  html {
    font-size: 40% !important;
  }
  .banner-image h1 {
    left: 30rem;
  }

  .product-body p {
    display: none;
  }

  #tabs {
    width: 100% !important;
  }
}
