/*
Group Members:
        Ajay Shrestha
        Gaurab Pokhrel
        Nirajan Karki
        Sakar Thapa
*/

.form-container {
  margin-top: 3rem;
}

.div-height {
  height: 95rem;
}

/* Loader */
.loader-div {
  position: relative;
}

/* Circular Loader design */
.loader {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  position: absolute;
  right: 50vw;
  top: 40vh;
  animation: 1s infinite spin;
  border-radius: 50%;
  border-top: 5px solid #219ebc;
  border-bottom: 5px solid #219ebc;
}

.details-page-logo {
  width: 10rem;
  margin-bottom: 5rem;
}

/* Css animation for loader to spin */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
